body, html {
    background-color: #f8f8ff;
}

.redBackground {
    background-color: #ff0000;
}

.h1Jumbo {
    font-size: 60px;
}

.jumbotron {
    padding: 20px;
}

.table-margin {
    margin-top: 20px;
    width: 700px;
}

.js-tr-style {
    text-indent: .5rem;
    line-height: 10px;
    font-size: small;
}

.panel {
    margin: 0 auto;
    padding: 20px;
    max-width: 75%;
    width: 700px;
    box-sizing: border-box;
    background-color: #f8f8ff;
    border-radius: 3px;
    box-shadow: 2px 4px 3px #696969;
    margin-bottom: 40px;
    border: solid 1px #000;
}

.css-btn {
    margin-top: 10px;
}

#h3-total-month {
    margin-bottom: 20px;
}

.table-head-css {}

#firstNameTHead {
    width: 150px;
}

#lastNameTHead {
    width: 150px;
}

#lastNameHTHead {
    width: 50px;
}

#titleTHead {
    width: 120px;
}

#salTHead {
    width: 125px;
}

#deleteBtnTHead {
    width: 40px;
}

.container-all {
    align-items: center;
    width: 700px;
}