.redBackground {
    background-color: #ff0000;
}

.h1Jumbo {
    font-size: 60px;
}

.jumbotron {
    padding: 20px;
}

.field-row {
    margin-bottom: 20px;
    /* border: solid 1px #000; */
}

.table-margin {
    margin-top: 20px;
    ;
}

.js-tr-style {
    text-indent: .5rem;
    ;
}

.panel {
    margin: 0 auto;
    padding: 20px;
    max-width: 75%;
    box-sizing: border-box;
    background-color: #f8f8ff;
    border-radius: 3px;
    box-shadow: 2px 4px 3px #696969;
    margin-bottom: 40px;
    border: solid 1px #000;
}